.ui-text {
  font-family: 'Roboto', sans-serif;
  padding: 0 0.4rem;
  transition: 0.4s all ease;
  background: #FFFFFF;
  border: 0.914921px solid rgba(0, 0, 0, 0.12);
  border-radius: 14.6387px;
  color: #818C99;;
  width: 836.95px;
}
