@import url('https://fonts.googleapis.com/css?family=Montserrat Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    margin-top: 10px;
    margin-left: 1000px;
    font-family: Jost, serif;
    font-size: 20px;
    background-color: #1E2833;
}

.nav-list a {
    display: block;
    padding: 1em;
    color: #FFFFFF;
}

.drop {
    background-color: #1E2833;
}

.nav-list a:hover {
    background-color: #A8ACF6;
}

.burger {
    display: none;
}

.logo p {
    position: absolute;
    color: #FFFFFF;
    font-family: Montserrat Subrayada, serif;
    margin-left: 300px;
    font-size: 40px;
    top: 20px;
}

.navbar {
    display: flex;
    background-color: #1E2833;
    height: 91px;
}

@media (max-width: 1000px) {
    .burger {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: #1E2833;
        color: #A8ACF6;
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 0px;
        top: 35px;
        background-color: #1E2833;
    }

    .navbar {
        justify-content: space-between; 
        height: 46px;   
    }

    .logo p {
        position: absolute;
        color: #FFFFFF;
        font-family: Montserrat Subrayada, serif;
        margin-left: 25px;
        font-size: 20px;
        top: 12px;
    }
}
